@tailwind base;
@tailwind components;
@tailwind utilities;


  /* scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0099ff; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0099ff; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0099ff;
  }

.underline-animation {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  
  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
  
  .underline-animation:hover::after {
    width: 100%;
  }





  